<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #ddd;}

tr:nth-child(even) {background-color: #f2f2f2;}

th {
    background-color: #3498DB;
    color: white;
}

</style>
<table >
<thead><tr><th>Name</th><th>Version</th><th>Date</th><th>Vendor</th></tr></thead>
<tbody>
<tr><td>Google Chrome</td><td>67.0.3396.87</td><td>20171120</td><td>Google Inc.</td></tr>
<tr><td>Help &amp; Manual 7</td><td>7.3.5</td><td>20180524</td><td>EC Software</td></tr>
<tr><td>HelpNDoc 5.7.1.578 Personal Edition</td><td>5.7.1.578 Personal Edition</td><td>20180522</td><td>IBE Software</td></tr>
<tr><td>HTML Help Workshop</td><td></td><td></td><td></td></tr>
<tr><td>TeamViewer 13</td><td>13.0.6447</td><td></td><td>TeamViewer</td></tr>
<tr><td>Python 3.6.5 Tcl/Tk Support (32-bit)</td><td>3.6.5150.0</td><td>20180618</td><td>Python Software Foundation</td></tr>
<tr><td>HP Support Assistant</td><td>8.6.18.11</td><td>20171120</td><td>HP Inc.</td></tr>
<tr><td>HP Support Solutions Framework</td><td>12.9.18.3</td><td>20171120</td><td>HP Inc.</td></tr>
<tr><td>Python 3.6.5 Development Libraries (32-bit)</td><td>3.6.5150.0</td><td>20180618</td><td>Python Software Foundation</td></tr>
<tr><td>Python 3.6.5 Core Interpreter (32-bit)</td><td>3.6.5150.0</td><td>20180618</td><td>Python Software Foundation</td></tr>
<tr><td>Python 3.6.5 Utility Scripts (32-bit)</td><td>3.6.5150.0</td><td>20180618</td><td>Python Software Foundation</td></tr>
<tr><td>Python 3.6.5 Documentation (32-bit)</td><td>3.6.5150.0</td><td>20180618</td><td>Python Software Foundation</td></tr>
<tr><td>Google Update Helper</td><td>1.3.33.17</td><td>20180522</td><td>Google Inc.</td></tr>
<tr><td>Python 3.6.5 Test Suite (32-bit)</td><td>3.6.5150.0</td><td>20180618</td><td>Python Software Foundation</td></tr>
<tr><td>Python Launcher</td><td>3.6.6295.0</td><td>20180618</td><td>Python Software Foundation</td></tr>
<tr><td>Python 3.6.5 Standard Library (32-bit)</td><td>3.6.5150.0</td><td>20180618</td><td>Python Software Foundation</td></tr>
<tr><td>CHM Viewer</td><td></td><td>20180524</td><td>chmviewer.com</td></tr>
<tr><td>Python 3.6.5 Executables (32-bit)</td><td>3.6.5150.0</td><td>20180618</td><td>Python Software Foundation</td></tr>
<tr><td>HP Customer Experience Enhancements</td><td>6.0.11.1</td><td>20171120</td><td>HP Inc.</td></tr>
<tr><td>Python 3.6.5 pip Bootstrap (32-bit)</td><td>3.6.5150.0</td><td>20180618</td><td>Python Software Foundation</td></tr>
<tr><td>Intel(R) Processor Graphics</td><td>9.17.10.4229</td><td></td><td>Intel Corporation</td></tr>
<tr><td>Google Talk Plugin</td><td>5.41.3.0</td><td>20171120</td><td>Google</td></tr>
<tr><td>Intel(R) SDK for OpenCL - CPU Only Runtime Package</td><td>2.0.0.37149</td><td></td><td>Intel Corporation</td></tr>
</tbody>
</table>